<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <title>接入"兔小巢"示例</title>
</head>
<body>
<div class="layui-container">
    <h1 class="site-h1">接入腾讯"兔小巢"示例</h1>
    <hr>


    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>前往社区</legend>
    </fieldset>
    <form class="layui-form" lay-filter="example">
        <blockquote class="layui-elem-quote">注意：“随机登录状态”指后台生成基本信息，“无登录状态”指跳转社区后需要使用微信、QQ 登录</blockquote>

        <div class="layui-form-item">
            <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">随机登录状态跳转到社区
            </button>
            <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval2">无登录状态跳转到社区
            </button>
        </div>
    </form>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>获取的反馈列表 - 服务端主动获取</legend>
    </fieldset>


</div>

<script src="../layui/layui.js"></script>
<script src="../tc/tucao.js"></script>
<script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
            form = layui.form;

        var productId = 0;

        //获取产品信息，兔小巢产品ID
        $.ajax({
            url: "/api/txc/info",
            type: "GET",
            success: function (data) {
                var code = data.code;
                if (code == 200) {
                    productId = data.data.productId;
                } else {
                    layer.msg(data.msg);
                }
            }
        });

        //随机登录状态跳转到社区
        layui.$('#LAY-component-form-setval').on('click', function () {
            $.ajax({
                url: "/api/txc/userInfo",
                type: "GET",
                success: function (data) {
                    var code = data.code;
                    if (code == 200) {
                        Tucao.request(productId, data.data);
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
        });

        //无登录状态跳转到社区
        layui.$('#LAY-component-form-setval2').on('click', function () {
            Tucao.request(productId, {});
        });

    });


</script>
</body>
</html>